<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>账务</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="header :: header">...</div>
<div th:if="${#lists.isEmpty(accountList)}" align="center">您当前还未完成交易 <a th:href="@{/content/index(type=1)}" th:text="去购买" class="link"/></div>
<div th:if="!${#lists.isEmpty(accountList)}">
    <div class="g-doc">
        <div class="m-tab m-tab-fw m-tab-simple f-cb">
            <h2>已购买的内容</h2>
        </div>
        <table class="m-table m-table-row n-table g-b3">
            <colgroup>
                <col class="img"/><col/>
                <col class="time"/><col/>
                <col class="num"/><col/>
                <col class="price"/><col/>
            </colgroup>
            <thead>
                <tr>
                    <th>内容图片</th>
                    <th>内容名称</th>
                    <th>购买时间</th>
                    <th>购买数量</th>
                    <th>购买价格</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account,infoStat : ${accountList}">
                    <td><a th:href="@{/content/details(id=${account.contentId})}"><img th:src="@{${account.image}}" /></a></td>
                    <td><h4 th:text="${account.title}"><a th:href="@{/content/details(id=${content.id})}" /></h4></td>
                    <td><span th:text="${#dates.format(account.time, 'yyyy-MM-dd HH:mm')}" class="v-time"/></td>
                    <td><span th:text="${account.num}" class="v-num"/></td>
                    <td><span class="v-unit">¥</span><span th:text="${account.price/100.0}" class="value"/></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><div class="total">总计：</div></td>
                    <td><span class="v-unit">¥</span><span th:text="${total}" class="value"/></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div th:replace="footer :: footer">...</div>
</body>
</html>