<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="header :: header">...</div>
<div class="g-doc">
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <div class="tab">
            <ul th:if=" ${type == 0}">
                <li class="z-sel" ><a href="/content/index?type=0">所有内容</a></li>
                <li th:if=" ${role == 'buyer'}"><a href="/content/index?type=1">未购买内容</a></li>
            </ul>
            <ul th:if=" ${type == 1}">
                <li><a href="/content/index?type=0">所有内容</a></li>
                <li th:if=" ${role == 'buyer'}" class="z-sel"><a href="/content/index?type=1">未购买内容</a></li>
            </ul>
        </div>
    </div>
    <div class="n-plist">
        <ul class="f-cb" id="plist">
            <div th:each="content:${contentList}">
                <li th:id="p-+(${content.id})">
                    <a th:href="@{/content/details(id=${content.id})}" class="link">
                        <input type="hidden" th:value="${content.id}"/>
                        <div class="img"><img th:src="@{${content.image}}"/></div>
                        <h3 th:text="${content.title}"/>
                        <div class="price"><span class="v-unit">¥</span><span th:text="${content.price/100.0}" class="v-value"/></div>
                        <span th:if=" ${role == 'buyer' and content.num!=0}" class="had"><b>已购买</b></span>
                        <span th:if=" ${role == 'seller' and content.num!=0}" class="had"><b>已售出<font th:text="${content.num}" color="red"/></b></span>
                    </a>
                    <span th:if=" ${role == 'seller' and content.num==0}" class="u-btn u-btn-normal u-btn-xs del" th:attr="data-del=${content.id}" th:value="${content.id}">删除</span>
                </li>
            </div>
        </ul>
    </div>
</div>
<div th:replace="footer :: footer">...</div>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/pageIndex.js"></script>
</body>
</html>